/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:visited { color: #00aaaa; }
a:hover   { color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, Menlo, monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

header {
  margin-bottom: 2em;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

header h1 {
  display: inline-block;
  margin-bottom: 0;
}

header h1 a {
  margin-right: 10px
}

header h1 a, header h1 a:visited {
  color: #a00;
}

header h1 span {
  color: #aaa;
  font-weight: normal;
}

header h1 a:hover {
  color: #000;
}

header ul.links {
  list-style-type: none;
}

header ul.links li {
  display: inline-block;
}

header ul.links li + li {
  margin-left: 10px;
}

header ul.links li a {
  color: #aaa;
}

header ul.links li a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact a {
  color: #8085C1;
}

footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #eef;
  padding: .2em .4em;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: .1em .2em;
  border-radius: 3px;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post hr {
  border: 0;
  background: #ddd;
  height: 1px;
}

.post blockquote {
  margin-left: 30px;
  border-left: 5px solid #ddd;
  padding-left: 5px;
  color: #777;
}
