/*
 * Stylesheet overrides of the original theme
 */

/* Horizontally scrollable code boxes */
pre {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

.post > p > img {
  margin: auto;
}

html {
  font-family: "Merriweather", serif;
}

.post {
 font-size: 0.9rem;
}
